apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: medic-booking
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: yasmin952/medic-user-service:latest 
        ports:
        - containerPort: 5000
          name: http
        - containerPort: 50051
          name: grpc
        envFrom:
        - configMapRef:
            name: user-service-config
        - secretRef:
            name: jwt-secret
        livenessProbe:
          httpGet:
            path: /api/users
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/users
            port: 5000
          initialDelaySeconds: 20
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: medic-booking
spec:
  selector:
    app: user-service
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
    name: http
  - protocol: TCP
    port: 50051
    targetPort: 50051
    name: grpc
  type: ClusterIP