apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: medic-booking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: yasmin952/medic-notification-service:latest 
        envFrom:
        - configMapRef:
            name: notification-service-config
        - secretRef:
            name: email-credentials